body {
    background-color: #363434;
}
title {
    &::first-letter {
        text-transform: capitalize;
    }
}
#root {
    display: flex;
    justify-content: center;
}
.app {
    width: 100%;
    .top-bar {
        width: 100%;
        height: 5vh;
        .sidenav-open {
            height: 100%;
            background-color: transparent;
            border: none;
            cursor: pointer;
            .sidenav-btn-img {
                height: 65%;
            }
        }
    }
    .sidenav {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #242222;
        transition: 0.5s ease;
        clip: rect(auto, auto, auto, auto);
        display: flex;
        flex-direction: column;
        align-items: left;
        .sidenav-close {
            position: absolute;
            top: 8px;
            left: 22px;
            margin-right: auto;
            background-color: transparent;
            color: red;
            border: none;
            font-size: 30px;
            font-family: "Ubuntu Mono", monospace;
            cursor: pointer;
        }
        a,
        .dropdown-btn {
            color: rgb(190, 25, 25);
            font-family: "Ubuntu Mono", monospace;
            font-size: min(5vw, 25px);
            margin-top: 50px;
            margin-left: 30px;
            white-space: nowrap;
            cursor: pointer;
            &:link {
                text-decoration: none;
            }
            &:hover {
                color: red;
            }
        }
        .dropdown-btn {
            background: transparent;
            border: none;
            padding: 0 !important;
            text-align: left;
        }
        .dropdown-container {
            display: flex;
            flex-direction: column;
            transition: 0.2s ease;
            margin-left: 50px;
            overflow: hidden;
        }
    }
    .home {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #363434;
    }
    .visualiser {
        display: flex;
        align-items: center;
        margin: auto;
        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
        margin-top: 3vh;
        height: 90vh;
        width: 95vw;
        justify-content: space-evenly;
        .dropdown,
        .compression {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: center;
            align-content: center;
            @media screen and (max-width: 600px) {
                height: calc((90vh - 95vw) / 2);
                width: 100%;
            }
            @media screen and (min-width: 600px) {
                height: 100%;
                width: 20vw;
            }
            button {
                color: white;
                background-color: transparent;
                cursor: pointer;
                border: 3px;
                border-color: aliceblue;
                border-style: solid;
                border-radius: 12px;
                font-family: "Ubuntu Mono", monospace;
                font-size: 30px;
            }
        }
        .dropdown {
            @media screen and (min-width: 600px) {
                float: right !important;
            }
            .x {
                color: white;
                font-family: "Ubuntu Mono", monospace;
                font-size: 30px;
            }
            select {
                color: white;
                background-color: transparent;
                cursor: pointer;
                text-align-last: center;
                border: 3px;
                border-color: aliceblue;
                border-style: solid;
                border-radius: 12px;
                font-family: "Ubuntu Mono", monospace;
                font-size: 30px;
            }
        }
        .compression {
            select {
                color: white;
                background-color: transparent;
                cursor: pointer;
                text-align-last: center;
                border: 3px;
                border-color: aliceblue;
                border-style: solid;
                border-radius: 12px;
                font-family: "Ubuntu Mono", monospace;
                font-size: 30px;
                width: 100%;
            }
            .k-input-wrapper {
                display: flex;
                align-items: center;
                @media screen and (max-width: 600px) {
                    width: 50%;
                    height: 50%;
                }
                @media screen and (min-width: 600px) {
                    width: 100%;
                    height: 25%;
                }
                .k-title {
                    color: white;
                    font-family: "Ubuntu Mono", monospace;
                    font-size: 30px;
                    width: fit-content;
                    margin-right: 5px;
                    @media screen and (max-width: 600px) {
                        margin-left: 5px;
                    }
                }
                select {
                    color: white;
                    background-color: transparent;
                    text-align-last: center;
                    border: 3px;
                    border-color: aliceblue;
                    border-style: solid;
                    border-radius: 12px;
                    font-family: "Ubuntu Mono", monospace;
                    font-size: 30px;
                    width: 100%;
                    height: 50%;
                }
            }
            @media screen and (min-width: 600px) {
                float: left !important;
            }
        }
        .portrait {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .react-colorful {
                position: absolute !important;
                top: 5%;
                left: 5%;
                height: 90% !important;
                width: 90% !important;
            }
            .pixel-container {
                position: relative;
                border-width: 3px;
                border-color: aliceblue;
                border-style: solid;
                border-radius: 12px;
                overflow: hidden;
                .pixel {
                    height: 100%;
                    width: 100%;
                    border: none;
                    cursor: pointer;
                }
            }
            .ds-selected,
            .selected {
                border-width: 4px;
                border-color: rgb(74, 77, 80);
                z-index: 0 !important;
            }
        }
        ds-selector-area {
            ds-selector {
                border: 0px;
                background: rgba(255, 255, 255, 0);
            }
        }
    }
}
